---

- name: run the playbook tasks on the localhost
  hosts: localhost
  connection: local
  become: yes
  vars:
    username: root
    ntp_timezone: Europe/Kiev
    users:
      - username: "{{ username }}"

  roles:
    - customization
    - geerlingguy.ntp
#    - otus-linux-1
